@import url(https://fonts.googleapis.com/css?family=Fira+Code:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,italic,700,700italic);
:root {
    --vp-font-family-base: "Inter"; /* normal text font */
    --vp-font-family-mono: "Fira Code"; /* code font */
    --vp-layout-max-width: 2048px;
}
.dark {
    --vp-code-block-bg: #2b2b2b;
    --vp-c-indigo-1: #b09d79;
}
.VPDoc.has-aside .content-container[data-v-7aebf3ac] {
    max-width: 1080px;
}
